body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000;
  color: white;
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background: #111;
  padding: 20px;
}

.logoImg {
  width: 70px;
  margin-bottom: 20px;
}

.sidebar a {
  display: block;
  margin: 10px 0;
  color: #bbb;
  cursor: pointer;
}

.sidebar a:hover {
  color: white;
}

.main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  width: 160px;
  background: #181818;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.card:hover {
  background: #282828;
}

.card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
}

.player {
  position: fixed;
  bottom: 0;
  left: 200px;
  right: 0;
  height: 80px;
  background: #181818;
  border-top: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.playerLeft {
  font-size: 14px;
}

.playerCenter {
  display: flex;
  align-items: center;
  gap: 15px;
}

.controlBtn {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: 0.2s;
}

.controlBtn:hover {
  color: #1db954;
}

.playBtn {
  background: #1db954;
  color: black;
  font-size: 24px;
  padding: 10px 16px;
  border-radius: 50%;
}

.playBtn:hover {
  background: #1ed760;
}

.playerRight input[type="range"] {
  width: 120px;
  cursor: pointer;
}
